.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  border-radius: 30px;
  min-width: 300px;
  max-width: 434px;
}

.overlay {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #2626264d;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.btnClose {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
}
.iconClose {
  stroke: var(--text-color);
}
.iconClose:hover {
  stroke: var(--background-color-btn);
}
.imgWrapper {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: var(--background-color-btn-light);
  border-color: transparent;
  margin-bottom: 20px;
}
.img {
  width: 44px;
  height: 44px;
}
.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: var(--background-color-btn);
  margin-bottom: 20px;
  text-align: center;
}
.desc {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 24px;
}
.btnsWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.btnLogin,
.btnRegister {
  border-radius: 30px;
  font-weight: 700;
  line-height: 18px;
  font-size: 14px;
  letter-spacing: -0.03em;
  border: 1px solid transparent;
  text-align: center;
  white-space: nowrap;
}

.btnLogin {
  color: var(--color-white);
  padding: 12px;
  background-color: var(--background-color-btn);
}
.btnRegister {
  color: var(--background-color-btn);
  padding: 12px;
  background-color: var(--background-color-btn-light);
}
.btnLogin:hover {
  background-color: var(--background-color-btn-hover);
}
.btnRegister:hover {
  background-color: var(--background-color-btn-light-hover);
}
@media (min-width: 768px) {
  .modal {
    max-width: 466px;
    max-height: 434px;
    padding: 60px;
  }
  .title {
    font-size: 24px;
    line-height: 28px;
  }
  .desc {
    margin-bottom: 28px;
  }
  .btnLogin,
  .btnRegister {
    padding-block: 14px;
    font-size: 16px;
    line-height: 20px;
  }
}
