.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 28px;
  border-radius: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2626264d;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  overflow: hidden;
}
.btnClose {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
}
.iconClose {
  stroke: var(--text-color);
 
}
.iconClose:hover {
  stroke: var(--background-color-btn-hover);
}
.imgWrapper {
  width: 120px;
  height: 120px;
  position: relative;
  margin-bottom: 20px;
}
.img {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 100px;
}
.category {
  display: inline-block;
  padding: 8px 14px;
  color: var(--background-color-btn);
  background-color: var(--background-color-btn-light);
  border-radius: 30px;
  border-color: transparent;

  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
  position: absolute;
  top: 0;
  left: 2px;
}
.category::first-letter {
  text-transform: uppercase;
}
.titleWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #2b2b2a;
  margin-bottom: 10px;
  text-align: center;
}
.infoWrap {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 27px;
  margin-bottom: 16px;
}
.nameInfo {
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #26262680;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.02em;
}
.rating {
  flex-direction: row;
  text-align: center;
}
.iconStar {
  vertical-align: middle;
}
.nameInfoPart {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  color: var(--text-color);
}
.nameInfoPart::first-letter {
  text-transform: uppercase;
}
.wrapperDesc {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 32px;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  margin-bottom: 20px;
}

.desc {
  letter-spacing: -0.02em;
  color: var(--text-color);
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  text-align: start;
}
.price {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #2b2b2a;
  text-align: center;
}
.wrapperBtns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.btnAdd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
  color: var(--color-white);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03;
  background-color: var(--background-color-btn);
  border-radius: 30px;
  border: none;
  padding: 12px;
  text-align: center;
}
.btnAdd:hover {
  background-color: var(--background-color-btn-hover);
}
.btnContact {
  border: none;
  background-color: var(--background-color-btn-light);
  border-radius: 30px;
  padding: 12px 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-color-btn);
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
}
.btnContact:hover {
  background-color: var(--background-color-btn-light-hover);
}
.heartIconActive {
  stroke: var(--color-white);
  fill: var(--color-white);
}
.heartIcon {
  stroke: var(--color-white);
  fill: none;
}
@media (min-width: 768px) {
  .modal {
    padding: 40px 71px;
  }
  .imgWrapper {
    width: 150px;
    height: 150px;
    position: relative;
    margin-bottom: 16px;
  }
  .img {
    width: 150px;
    height: 150px;
  }
  .category {
    font-size: 14px;
    line-height: 18px;
    left: 4px;
  }
  .titleWrap {
    margin-bottom: 20px;
  }
  .title {
    font-size: 18px;
    line-height: 24px;
  }
  .price {
    font-size: 16px;
    line-height: 20px;
  }
  .btnAdd {
    padding: 14px;
  }
  .btnContact {
    padding: 14px 50px;
  }
}
