.btnShowPassword {
  position: absolute;
  right: 12px;
  top: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.iconEye {
  width: 18px;
  height: 18px;
}
@media (min-width: 768px) {
  .btnShowPassword {
    right: 16px;
    top: 15px;
  }
  .iconEye {
    width: 22px;
    height: 22px;
  }
}
