.wrapperLoader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/mainImg/mainImg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  #root {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
  }
}
