.wrapper {
  padding: 18px 20px 40px 20px;
  border-radius: 30px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  position: relative;
}
.btn {
  text-transform: uppercase;
  color: var(--background-color-btn);
  background-color: var(--background-color-btn-light);
  border: 1px var(--background-color-btn-light);
  border-radius: 30px;
  border: none;
  padding: 12px 28px;
  text-align: start;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  width: 114px;
}
.btn:hover {
  background-color: var(--background-color-btn-light-hover);
  border: 1px var(--background-color-btn-light-hover);
}
.btnIsPetsBlock {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .wrapper {
    border-radius: 60px;
    padding: 40px;
  }
  .btn {
    padding: 15px 35px;
    font-size: 16px;
    line-height: 20px;
    width: 136px;
  }
  .btnIsPetsBlock {
    margin-top: 60px;
  }
}
