.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 40px 20px;
  max-width: 335px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2626264d;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.btnClose {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
}
.iconClose {
  stroke: var(--text-color);
}
.iconClose:hover {
  stroke: var(--background-color-btn-hover);
}
.iconUpload {
  width: 18px;
  height: 18px;
}
.iconUserWrap {
  width: 94px;
  height: 94px;
  border-radius: 100%;
  background-color: var(--background-color-btn-light);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 12px;
  fill: var(--background-color-btn);
  stroke: var(--background-color-btn);
}
.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #2b2b2a;
  text-align: start;
  margin-bottom: 20px;
}
.img {
  margin-bottom: 12px;
  border-radius: 100px;
  width: 80px;
  height: 80px;
  background-color: #eeeeee;
  margin-right: auto;
  margin-left: auto;
}
.labelAvatar {
  display: grid;
  column-gap: 8px;
  grid-template-columns: auto 126px;
  height: 42px;
  margin-bottom: 10px;
}
.input {
  width: 100%;
  border: 1px solid var(--background-color-btn);
  border-radius: 30px;
  padding: 12px;
  color: var(--text-color);
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
}
.input::placeholder {
  color: var(--text-color);
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
}

.inputEmpty {
  border: 1px solid #26262626;
}
.inputEmpty:focus,
.inputEmpty:hover,
.input:focus,
.input:hover {
  border: 1px solid var(--background-color-btn);
}
.inputEmpty::placeholder {
  color: var(--text-color);
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
}
.btnUpload {
  border-radius: 30px;
  background-color: var(--background-color-btn-light);
  border: 1px transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.btnUpload:hover {
  background-color: var(--background-color-btn-light-hover);
}
.inputAvatar {
  min-width: 100px;
  width: 100%;
  border: 1px solid var(--background-color-btn);
  border-radius: 30px;
  padding: 13px 39px 13px 12px;
  color: var(--text-color);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 161px;
}
.btnYes {
  color: #ffffff;
  background-color: var(--background-color-btn);
  width: 100%;
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  border-radius: 30px;
  border: 1px transparent;
  margin-top: 11px;
}
.btnYes:hover {
  background-color: var(--background-color-btn-hover);
}
.inputAvatar::placeholder {
  color: var(--text-color);
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
}
.inputAvatar:focus,
.inputAvatar:hover {
  border: 1px solid var(--background-color-btn);
}
.btnUploadNoPhoto {
  display: block;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-style: solid;
  margin-bottom: 28px;
  color: var(--text-color);
  margin-left: auto;
  margin-right: auto;
}
.btnUploadNoPhoto:hover {
  color: var(--background-color-btn-hover);
}
.error {
  font-size: 10px;
  line-height: 8px;
  letter-spacing: -0.03em;
  color: #ef2447;
  text-align: start;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .error {
    font-size: 12px;
    line-height: 10px;
    letter-spacing: -0.03em;
    color: #ef2447;
    text-align: start;
    margin-bottom: 12px;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 50px;
    max-width: 480px;
  }
  .title {
    font-size: 18px;
    line-height: 24px;
  }
  .labelAvatar {
    grid-template-columns: auto 146px;
    height: 42px;
    margin-bottom: 20px;
  }
  .img {
    width: 86px;
    height: 86px;
  }
  .iconUserWrap {
    width: 86px;
    height: 86px;
  }
  .btnYes {
    font-size: 16px;
    line-height: 20px;
    margin-top: 26px;
  }
  .input {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 20px;
    padding: 16px;
  }
  .input::placeholder {
    font-size: 16px;
    line-height: 20px;
  }

  .inputAvatar {
    font-size: 14px;
    line-height: 18px;
    padding: 12px 20px 12px 12px;
    max-width: 226px;
  }
  .inputAvatar::placeholder {
    color: var(--text-color);
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
  }
  .btnUploadNoPhoto {
    margin-bottom: 20px;
  }
  .btnUpload {
    font-size: 12px;
    line-height: 16px;
  }
}
