.formRegister {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btnSubmit {
  text-transform: uppercase;
  color: var(--color-white);
  padding: 16px;
  text-align: center;
  vertical-align: middle;
  background-color: var(--background-color-btn);
  border-radius: 30px;
  border: none;
  margin-top: 32px;
  transition: all 0.3s ease;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
}
.btnSubmit:hover {
  background-color: var(--background-color-btn-hover);
}
@media (min-width: 768px) {
  .btnSubmit {
    font-size: 16px;
    line-height: 20px;
  }
  .inputsWrapper {
    gap: 16px;
  }
}
