.formRegisrt {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.error {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: #ef2447;
}
.input {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #262626;
  padding: 16px;
  padding-right: 45px;
  border-radius: 30px;
  border: 1px solid #26262626;
}
.input::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #26262680;
}
.input:focus,
.input:hover {
  border-color: #f6b83d;
}
.inputError {
  border: 1px solid #ef2447;
}
.inputSuccess {
  border: 1px solid #08aa83;
}

.btnSubmit {
  text-transform: uppercase;
  color: #ffffff;
  padding: 16px;
  text-align: center;
  vertical-align: middle;
  background-color: #f6b83d;
  border-radius: 30px;
  border: none;
}
.labelPassword {
  position: relative;
}
.labelConfirmPassword {
  position: relative;
}
