.form {
  display: flex;
  flex-direction: column;
  padding: 28px 20px 20px;
  background-color: var(--color-white);
  border-radius: 30px;
}
.title {
  text-align: start;
  font-family: Manrope;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.03em;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: last baseline;
  gap: 8px;
}
.titlePath {
  font-family: Manrope;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #2b2b2a66;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 31px;
}
.inputImgWrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 36px;
}
.genderWrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}
.inputGender {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.icon {
  width: 20px;
  height: 20px;
}
.label-male,
.label-female,
.label-multiple {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  transition: stroke 0.3s ease, background-color 0.3s ease;
}
.label-male {
  background-color: #54adff1a;
  stroke: #54adff;
}
.active.label-male,
.label-male:hover {
  background-color: #54adff;
  stroke: var(--color-white);
  fill: var(--color-white);
}
.label-female {
  background-color: #f43f5e1a;
  stroke: #f43f5e;
}
.active.label-female,
.label-female:hover {
  background-color: #f43f5e;
  stroke: var(--color-white);
  fill: var(--color-white);
}
.label-multiple {
  background-color: var(--background-color-btn-light);
  fill: var(--background-color-btn);
}
.active.label-multiple,
.label-multiple:hover {
  background-color: var(--background-color-btn);
  stroke: var(--color-white);
  fill: var(--color-white);
}
.imgAnimal {
  width: 68px;
  height: 68px;
  object-fit: cover;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}
.svgAnimal {
  width: 68px;
  height: 68px;
  border-radius: 100px;
  background-color: var(--background-color-btn-light);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}
.iconAnimal {
  width: 34px;
  height: 34px;
  fill: var(--background-color-btn);
}
.btnUpload {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--background-color-btn-light);
  border: 1px transparent;
  border-radius: 30px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
  padding: 10px;
  transition: background-color 0.3s ease;
}
.btnUpload:hover {
  background-color: var(--background-color-btn-light-hover);
}
.iconUpload {
  width: 16px;
  height: 16px;
}
.inputText,
.inputTextImg {
  padding: 12px;
  font-family: Manrope;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  border-radius: 30px;
  border: 1px solid #26262626;
  background-color: transparent;
  transition: border 0.3s ease;
  width: 100%;
}
.inputText:hover,
.inputText:focus,
.inputText:active,
.inputTextImg:hover,
.inputTextImg:focus,
.inputTextImg:active {
  border: 1px solid var(--background-color-btn);
}
.inputText::placeholder,
.inputTextImg::placeholder {
  font-family: Manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: #26262680;
}
.inputTextImg::placeholder {
  letter-spacing: -0.02em;
}
.inputTextImg {
  padding: 9px 20px 9px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
}
.inputDownWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-end;
}
.btn {
  padding: 12px;
  width: 100px;
  font-family: Manrope;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  border-width: 1px;
}
.backButton {
  color: var(--text-color);
  border: 1px solid #2626260d;
  background-color: #2626260d;
}
.backButton:hover {
  border: 1px solid var(--text-color);
}
.submitButton {
  color: var(--color-white);
  border: 1px var(--background-color-btn);
  background-color: var(--background-color-btn);
  transition: background-color 0.3s ease;
}
.submitButton:hover {
  background-color: var(--background-color-btn-hover);
}
.dropdownItem::first-letter {
  text-transform: uppercase;
}
.filled {
  border: 1px solid var(--background-color-btn);
}

@media (min-width: 768px) {
  .form {
    padding: 40px 136px;
    border-radius: 60px;
  }
  .inputWrapper {
    gap: 18px;
    margin-bottom: 40px;
  }
  .title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 40px;
  }
  .titlePath {
    font-size: 16px;
    line-height: 20px;
  }
  .iconAnimal {
    width: 44px;
    height: 44px;
  }
  .svgAnimal {
    width: 86px;
    height: 86px;
  }
  .imgAnimal {
    width: 86px;
    height: 86px;
    margin-bottom: 12px;
  }
  .inputImgWrapper {
    gap: 8px;
    height: 42px;
  }
  .icon {
    width: 24px;
    height: 24px;
  }
  .label-male,
  .label-female,
  .label-multiple {
    width: 40px;
    height: 40px;
  }
  .inputText {
    padding: 16px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
  }
  .inputTextImg {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
    padding: 12px;
  }
  .inputText::placeholder {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
  }
  .btnUpload {
    gap: 8px;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 18px;
    width: 146px;
  }
  .iconUpload {
    width: 18px;
    height: 18px;
  }
  .inputDownWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  .btn {
    padding: 14px;
    width: 170px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 1280px) {
  .form {
    padding: 60px 80px;
  }
}
