* {
  box-sizing: border-box;
}
:root {
  font-family: Manrope, sans-serif;
  font-weight: 500;
  color: var(--text-color);
  background-color: #f9f9f9;
  padding: 0;

  --text-color: #262626;
  --color-white: #ffffff;
  --background-color-btn: #f6b83d;
  --background-color-btn-hover: #f9b020;
  --background-color-btn-light: #fff4df;
  --background-color-btn-light-hover: #fbe7c1;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-size: 16px;
  font-weight: 500;
  font-family: Manrope, sans-serif;
  color: var(--text-color);
  background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Manrope, sans-serif;
}

button {
  cursor: pointer;
  font-family: Manrope, sans-serif;
}
a {
  color: currentColor;
  text-decoration: none;
  font-family: Manrope, sans-serif;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
textarea {
  font-family: Manrope, sans-serif;
}
input::placeholder,
textarea::placeholder {
  font-family: Manrope, sans-serif;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus {
  outline: none;
  border-color: inherit;
  box-shadow: none;
}
