.tabs {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}
.tab,
.active {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  padding: 12px;
  width: 123px;
  height: 42px;
  text-align: center;
  border-radius: 30px;
  border: 1px transparent;
}
.tab {
  color: var(--text-color);
  background-color: var(--color-white);
}
.active {
  background-color: var(--background-color-btn);
  color: var(--color-white);
}
.desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--text-color);
  text-align: center;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 140px;
  margin-right: auto;
  margin-left: auto;
}
.descPart {
  font-weight: 700;
  color: var(--background-color-btn);
}
@media (min-width: 768px) {
  .tabs {
    gap: 8px;
  }
  .tab,
  .active {
    font-size: 16px;
    line-height: 20px;
    padding: 14px;
    width: 142px;
    height: 48px;
  }
  .desc {
    font-size: 16px;
    line-height: 20px;
    margin-top: 180px;
    max-width: 458px;
    margin-bottom: 180px;
  }
}

@media (min-width: 1280px) {
  .tabs {
    margin-bottom: 32px;
    margin-top: 40px;
  }
}
