.formRegister {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: start;
}
.inputsWrapper {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.btnSubmit {
  text-transform: uppercase;
  color: var(--color-white);
  padding: 16px;
  text-align: center;
  vertical-align: middle;
  background-color: var(--background-color-btn);
  border-radius: 30px;
  border: none;
  font-family: Manrope;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  width: 100%;
}
.btnSubmit:hover {
  background-color: var(--background-color-btn-hover);
}
@media (min-width: 768px) {
  .inputsWrapper {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .btnSubmit {
    padding: 12px;
    font-size: 16px;
    line-height: 20px;
  }
}
