.formRegister {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inputsWrapper {
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.btnSubmit {
  text-transform: uppercase;
  color: #ffffff;
  padding: 16px;
  text-align: center;
  vertical-align: middle;
  background-color: #f6b83d;
  border-radius: 30px;
  border: none;
}
