.wrapper {
  position: relative;
}

.img {
  width: 100%;
  height: auto;
  min-width: 320px;
  object-fit: cover;
}
.logo {
  width: 190px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .logo {
    width: 374px;
    height: 100px;
  }
  .img {
    min-width: 768px;
  }
}
@media (min-width: 1280px) {
  .img {
    min-width: 1280px;
  }
}
