.wrapper {
  display: grid;
  gap: 40px;
  align-items: start;
  max-width: 1280px;
}

@media (min-width: 768px) {
  .wrapper {
    gap: 32px;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    grid-template-columns: 520px auto;
  }
}
