.wrapper {
  padding-top: 34px;
}
.titleWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding-top: 53px;
  }
  .titleWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper {
    padding-top: 64px;
    padding-inline: 32px;
  }
  .titleWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
