.wrapper {
  display: grid;
  grid-template-columns: 592px 1fr;
  gap: 32px;
}
.descTitle {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #262626;
  margin-top: 16px;
  margin-bottom: 32px;
  text-align: start;
}
.desc {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #26262680;
  margin-top: 16px;
  text-align: center;
}
.descPath {
  color: #f6b83d;
}
.formWrapper {
  border: none;
  border-radius: 60px;
  background-color: #fff;
  padding: 70px 84px;
}
