.headerDefault {
  padding-top: 18px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: none;
  outline: none;
}
.headerHome {
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  background-color: #f6b83d;
  padding: 18px 20px;
  display: grid;
  gap: 12px;
  grid-template-columns: 76px auto 32px;
  border-bottom: none;
  outline: none;
}
.authDesktop {
  /* display: none; */
}
.logo {
  justify-self: start;
  align-self: center;
  border-bottom: none;
  outline: none;
}
.burger {
  display: block;
  width: 30px;
  height: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 375px) {
}
@media screen and (min-width: 768px) {
  .headerHome {
    padding: 16px 64px;
  }
  .headerDefault {
    padding: 16px 32px;
  }
}
@media screen and (min-width: 1280px) {
  .burger {
    display: none;
  }
  .authDesktop {
    display: flex;
    align-items: center;
    justify-self: end;
  }
  .headerDefault {
    padding-top: 18px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: none;
    outline: none;
  }
  .headerHome {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: #f6b83d;
    padding: 18px 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
