.headerDefault {
  padding-top: 18px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: auto auto 32px;
  gap: 14px;
  border: none;
  outline: none;
  position: relative;
  align-items: center;
}
.headerHome {
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  background-color: var(--background-color-btn);
  padding: 18px 20px;
  display: grid;
  gap: 12px;
  grid-template-columns: auto auto 32px;
  border-bottom: none;
  outline: none;
  position: relative;
  align-items: center;
}

.logo {
  display: flex;
  justify-self: start;
  align-self: center;
  border-bottom: none;
  outline: none;
  padding: 0;
}
.iconLogo {
  width: 76px;
  height: 20px;
}
.burger {
  display: block;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  stroke: #262626;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.burgerHome {
  stroke: #fff;
}
.iconBurger {
  width: 100%;
  height: 100%;
}
.auth {
  display: flex;
  align-items: center;
  justify-self: end;
}
@media screen and (min-width: 375px) {
}
@media screen and (min-width: 768px) {
  .headerHome {
    padding: 16px 32px;
    gap: 18px;
    grid-template-columns: auto auto 36px;
  }
  .headerDefault {
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 16px;
    grid-template-columns: auto auto 36px;
  }
  .iconLogo {
    width: 106px;
    height: 28px;
  }
  .burger {
    width: 36px;
    height: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .burger {
    display: none;
  }

  .headerDefault {
    padding-top: 18px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 32px;
    display: grid;
    border: none;
    outline: none;
    grid-template-columns: auto auto auto;
  }
  .headerHome {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: var(--background-color-btn);
    padding: 18px 64px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
