.wrapper {
  display: none;
}
.userAvatar,
.userAvatarSvg {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--background-color-btn);
  stroke: var(--background-color-btn);
  object-fit: cover;
}
.userAvatar {
  background-color: #eeeeee;
}
.userAvatarSvg {
  background-color: var(--background-color-btn-light);
}
.name {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: var(--text-color);
}
.nameHome {
  color: var(--color-white);
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.03em;
}
@media screen and (min-width: 375px) {
}
@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
  .userAvatar,
  .userAvatarSvg {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}
