.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 704px));
  gap: 10px;
}
.descTitle {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #262626;
  margin-top: 16px;
  margin-bottom: 32px;
  text-align: start;
}
.desc {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #26262680;
  margin-top: 16px;
  text-align: center;
}
.descPath {
  color: #f6b83d;
  cursor: pointer;
}
.formWrapper {
  border: none;
  border-radius: 30px;
  background-color: #fff;
  padding: 60px 20px;
}
@media (min-width: 768px) {
  .wrapper {
    gap: 16px;
  }
  .formWrapper {
    padding: 118px 84px;
    border-radius: 60px;
  }
}
@media (min-width: 1280px) {
  .wrapper {
    grid-template-columns: 592px 592px;
    gap: 32px;
  }
}
