.wrapper {
  position: relative;
  background-color: var(--background-color-btn);
}
.wrapperHome {
  background-color: #fff;
}
.btnClose {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 28px;
  right: 20px;
}
.iconClose {
  width: 32px;
  height: 32px;
  stroke: #262626;
}
.iconClose:hover {
  stroke: var(--background-color-btn);
}
@media (min-width: 768px) {
  .btnClose {
    width: 36px;
    height: 36px;
    top: 39px;
    right: 32px;
  }
}
