.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  z-index: 9;
  background-color: var(--background-color-btn);
  padding: 40px 20px;
  display: grid;
  max-width: 300px;
}
.wrapperHome {
  background-color: #fff;
}
.btnClose {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 28px;
  right: 20px;
}
.iconClose {
  width: 32px;
  height: 32px;

  stroke: #fff;
  transition: transform 0.3s ease-in-out;
}
.iconCloseHome {
  stroke: #262626;
  transition: transform 0.3s ease-in-out;
}
.iconClose:hover,
.iconCloseHome:hover {
  transform: rotate(90deg);
}
@media (min-width: 768px) {
  .wrapper {
    width: 50%;
    max-width: 500px;
    padding: 40px 49px;
  }
  .btnClose {
    width: 36px;
    height: 36px;
    top: 39px;
    right: 32px;
  }
}
@media (min-width: 1268px) {
  .wrapper {
    display: none;
  }
}
