.card {
  width: 100%;
  max-width: 335px;
  min-width: 280px;
  height: 454px;
  border-radius: 16px;
  background-color: var(--color-white);
  padding: clamp(10px, 1.5vw, 24px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img {
  object-fit: cover;
  width: clamp(232px, 100vw, 287px);
  height: 178px;
  border-radius: 16px;
  margin-bottom: 24px;
}
.titleWrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(14px, 0.75rem, 16px);
  margin-bottom: 8px;
  letter-spacing: 0;
  line-height: 20px;
}
.title {
  font-weight: 700;
  font-size: clamp(14px, 0.75rem, 16px);
  vertical-align: middle;
  color: #2b2b2a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.infoWrap {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: clamp(3px, 1.5vw, 14px);
  margin-bottom: 16px;
}
.nameInfo {
  text-align: start;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: #26262680;
  font-size: clamp(6px, 0.5rem, 10px);
  line-height: 14px;
  letter-spacing: -0.02em;
}
.rating {
  display: flex;
  flex-direction: row;
}
.iconStar {
  vertical-align: middle;
}
.nameInfoPart {
  font-size: clamp(8px, 0.5rem, 12px);
  line-height: 14px;
  letter-spacing: -0.02em;
  color: var(--text-color);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.nameInfoPart::first-letter {
  text-transform: uppercase;
}

.desc {
  letter-spacing: -0.02em;
  color: var(--text-color);
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  text-align: start;
  max-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.price {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #2b2b2a;
  text-align: start;
}
.btnWrapper {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}
.btnLearnMore {
  flex-grow: 1;
  color: var(--color-white);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03;
  background-color: var(--background-color-btn);
  border-radius: 30px;
  border: none;
  padding: 14px;
  text-align: center;
}
.btnLearnMore:hover {
  background-color: var(--background-color-btn-hover);
}
.btnHeart,
.btnTrash {
  border: none;
  background-color: var(--background-color-btn-light);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnHeart {
  width: 46px;
  height: 46px;
}
.btnTrash {
  padding: 13px;
  width: 44px;
  height: 44px;
}
.btnTrash:hover,
.btnHeart:hover {
  background-color: var(--background-color-btn-light-hover);
}
.heart {
  stroke: var(--background-color-btn);
  fill: none;
}
.heartActive {
  fill: var(--background-color-btn);
  stroke: var(--background-color-btn);
}
.downWrapper {
  width: 100%;
}
@media (min-width: 375px) {
  .card {
    padding: 24px;
  }
  .img {
    width: 287px;
  }
  .titleWrap {
    font-size: 16px;
  }
  .title {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .card {
    max-width: 342px;
    height: 472px;
    border-radius: 16px;
    background-color: var(--color-white);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .img {
    width: 315px;
  }
  .title {
    font-size: 18px;
    line-height: 24px;
  }
  .infoWrap {
    gap: clamp(10px, 1.5vmin, 15px);
    margin-bottom: 16px;
  }
  .wrapperDesc {
    row-gap: 24px;
  }
  .price {
    font-size: 18px;
    line-height: 24px;
  }
  .btnLearnMore {
    width: 100%;
    color: var(--color-white);
    font-size: 16px;
    line-height: 20px;
    background-color: var(--background-color-btn);
  }
  .btnHeart {
    padding: 15px;
    width: 48px;
    height: 48px;
  }
}
@media (min-width: 1280px) {
  .card {
    max-width: 342px;
  }
  .cardFav {
    max-width: 320px;
    padding: 14px;
    height: 422px;
  }
  .imgFav {
    width: 292px;
    object-fit: cover;
  }
}
