.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 28px;
  border-radius: 30px;
  max-width: 335px;
  max-height: 270px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2626264d;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.title {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: var(--text-color);
}
.btnClose {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
}
.iconClose {
  stroke: var(--text-color);
}
.iconClose:hover {
  stroke: var(--background-color-btn);
}

.btnYes {
  border-color: transparent;
  background-color: var(--background-color-btn);
  border-radius: 30px;
  padding: 12px 57px;
  color: var(--color-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  max-width: 137px;
}
.btnYes:hover,
.btnYes:focus {
  background-color: var(--background-color-btn-hover);
}
.btnCancel {
  border-color: transparent;
  background-color: #2626260d;
  border-radius: 30px;
  padding: 12px 44px;
  color: var(--text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  max-width: 134px;
}
.actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.imgWrapper {
  margin-bottom: 20px;
  border-color: transparent;
  background-color: var(--background-color-btn-light);
  border-radius: 100px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .modal {
    padding: 80px;
    max-width: 448px;
    max-height: 364px;
  }
  .btnCancel,
  .btnYes {
    padding-block: 14px;
    font-size: 16px;
    line-height: 20px;
  }
  .title {
    font-size: 24px;
    line-height: 28px;
  }
}
