.label {
  position: relative;
}
.iconError,
.iconSuccess {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 18px;
  height: 18px;
  padding: 0;
}
.iconErrorPassword,
.iconSuccessPassword {
  position: absolute;
  top: 12px;
  right: 38px;
  width: 18px;
  height: 18px;
  padding: 0;
}
.iconError,
.iconErrorPassword {
  stroke: #ef2447;
}
.iconSuccess,
.iconSuccessPassword {
  stroke: #08aa83;
}
.error {
  margin-left: 12px;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.03em;
  color: #ef2447;
  text-align: start;
}
.secure {
  margin-left: 12px;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.03em;
  color: #08aa83;
  text-align: start;
}
.input {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: var(--text-color);
  padding: 12px;
  padding-right: 45px;
  border-radius: 30px;
  border: 1px solid #26262626;
}
.input::placeholder {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: #26262680;
}
.input:focus,
.input:hover {
  border-color: var(--background-color-btn);
}

.inputSuccess,
.inputSuccess:focus,
.inputSuccess:hover {
  border: 1px solid #08aa83;
}
.inputError,
.inputError:hover,
.inputError:focus {
  border: 1px solid #ef2447;
}

@media (min-width: 768px) {
  .iconError,
  .iconSuccess {
    position: absolute;
    top: 15px;
    right: 16px;
    width: 22px;
    height: 22px;
  }
  .iconErrorPassword,
  .iconSuccessPassword {
    position: absolute;
    top: 15px;
    right: 50px;
    width: 22px;
    height: 22px;
  }
  .input {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
    padding: 16px;
    padding-right: 45px;
  }
  .input::placeholder {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #26262680;
  }
  .error {
    margin-left: 16px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.03em;
    color: #ef2447;
    text-align: start;
  }
  .secure {
    margin-left: 16px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.03em;
    color: #08aa83;
    text-align: start;
  }
}
