.wrap {
  display: flex;
  justify-content: flex-end;
}
.btn {
  background-color: var(--background-color-btn-light);
  border-radius: 30px;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.btn:hover {
  background-color: var(--background-color-btn-light-hover);
}
