* {
  box-sizing: border-box;
}
:root {
  font-family: Manrope, sans-serif;
  font-weight: 500;
  color: #262626;
  background-color: #f9f9f9;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-size: 16px;
  font-family: Manrope, sans-serif;
  color: #262626;
  background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  font-family: inherit;
}
a {
  color: currentColor;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus {
  outline: none;
  border-color: inherit;
  box-shadow: none;
}
