.titleWrapper {
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  border: none;
  background-color: #f6b83d;
  display: flex;
  flex-direction: column;
  gap: 73px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 32px;
}
.titlePath {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.03em;
  color: #ffffff66;
}
.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.03em;
  color: #ffffff;
  text-align: center;
}
.desc {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #ffffff;
  text-align: center;
}
.img {
  border-radius: 60px;
  min-width: 300px;
  object-fit: cover;
  width: 100%;
}
@media screen and (min-width: 375px) {
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 80px;
    line-height: 76px;
  }
  .titlePath {
    font-size: 80px;
    line-height: 76px;
  }
  .titleWrapper {
    padding-top: 70px;
    padding-bottom: 32px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media screen and (min-width: 1280px) {
  .title {
    min-width: 760px;
    text-align: start;
    font-size: 90px;
    line-height: 87px;
  }
  .titlePath {
    font-size: 90px;
    line-height: 87px;
  }
  .desc {
    min-width: 255px;
    text-align: start;
  }
  .titleWrapper {
    display: flex;
    flex-direction: row;
    gap: 73px;
    align-items: end;
    padding-top: 80px;
    padding-bottom: 32px;
  }
}
