.btn {
  font-family: Manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: var(--color-white);
  padding: 10px 10px 10px 16px;
  background-color: var(--background-color-btn);
  border-radius: 30px;
  border: 1px transparent;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
.icon {
  width: 18px;
  height: 18px;
  stroke: var(--color-white);
  transform: rotate(45deg);
}
.btn:hover {
  background-color: var(--background-color-btn-hover);
}
@media (min-width: 768px) {
  .btn {
    font-size: 16px;
    line-height: 20px;
    padding: 11px 20px;
  }
}
