.link {
  vertical-align: middle;
  text-align: center;
  border-radius: 30px;
  padding: 15px 20px;
  line-height: 20px;
  letter-spacing: -0.03em;
  border: 1px solid #26262626;
  font-size: 16px;
}

.link:hover,
.link:focus,
.active {
  border: 1px solid var(--background-color-btn);
}
.linkHome {
  vertical-align: middle;
  text-align: center;
  border-radius: 30px;
  padding: 15px 20px;
  line-height: 20px;
  letter-spacing: -0.03em;
  border: 1px solid #ffffff66;
  color: var(--color-white);
  font-size: 16px;
}
.linkBurger {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  border-radius: 30px;
  padding: 15px;
  line-height: 20px;
  letter-spacing: -0.03em;
  border: 1px solid #ffffff80;
  font-size: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  width: 119px;
  color: #ffffff;
}
.linkBurger:hover {
  background-color: var(--background-color-btn-light-hover);
  color: var(--background-color-btn);
}
.linkHomeBurger {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  border-radius: 30px;
  padding: 15px;
  line-height: 20px;
  letter-spacing: -0.03em;
  border: 1px solid #26262626;
  font-size: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  width: 119px;
}
.linkHomeBurger:hover {
  border: 1px solid var(--background-color-btn);
}
.linkHome:hover {
  background-color: var(--background-color-btn-light);
  color: var(--background-color-btn);
  border: 1px solid var(--background-color-btn);
}

.navWrapperOpen {
  display: flex;
  flex-direction: column;
  gap: 18px;
  place-self: center;
}
.navWrapperOpenHome {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 18px;
  color: #262626;
  place-self: center;
}
.navWrapper {
  display: none;
}
.btnClose {
  position: absolute;
  top: 20px;
  left: 200px;
  border: none;
  display: inline-block;
  background-color: transparent;
}
.iconClose {
  stroke: #191a15;
}
.iconClose:hover {
  stroke: var(--background-color-btn);
}

.authMobile {
  display: block;
}

@media (min-width: 768px) {
}
@media (min-width: 1280px) {
  .authMobile {
    display: none;
  }

  .navWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .navWrapperOpen {
    display: flex;
  }

  .btnClose {
    display: none;
  }
}
