.form {
  position: relative;
}
.input {
  border: 1px solid #26262626;
  padding: 12px 50px 12px 12px;
  background-color: transparent;
  border-radius: 30px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  width: 100%;
}
.input::placeholder {
  color: #26262680;
}
.input:focus,
.input:hover {
  border: 1px solid var(--background-color-btn);
}
.btnClear {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 36px;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconClear {
  stroke: var(--text-color);
  stroke-width: 2px;
  height: 20px;
  width: 20px;
}
.iconClear:hover {
  stroke: var(--background-color-btn);
}
.btnSearch {
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  position: absolute;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconSearch {
  stroke: var(--text-color);
  fill: none;
  stroke-width: 2px;
  width: 18px;
  height: 18px;
}
.iconSearch:hover {
  stroke: var(--background-color-btn);
}
.formNotices {
  width: 100%;
  grid-column: 1 / 3;
}
.inputNotices {
  border: 1px solid #ffffff;
  padding: 14px 30px 14px 14px;
  background-color: var(--color-white);
  border-radius: 30px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  height: 48px;
  color: var(--text-color);
  width: 100%;
}
.inputNotices::placeholder {
  color: var(--text-color);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03rem;
}
.inputNotices:focus,
.inputNotices:hover {
  border: 1px solid var(--background-color-btn);
}
@media (min-width: 768px) {
  .input {
    padding: 14px 60px 14px 14px;
    font-size: 16px;
    line-height: 20px;
  }
  .btnSearch {
    right: 14px;
  }
  .formNotices {
    width: 265px;
  }
  .inputNotices::placeholder {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 1280px) {
  .inputNotices {
    font-size: 16px;
    line-height: 20px;
  }
}
