.form {
  position: relative;
  margin-bottom: 24px;
}
.input {
  border: 1px solid #26262626;
  padding: 12px 50px 12px 12px;
  background-color: transparent;
  border-radius: 30px;

  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  max-width: 335px;
  font-family: Manrope;
}
.input::placeholder {
  color: #26262680;
}
.input:focus,
.input:hover {
  border: 1px solid #f6b83d;
}
.btnClear {
  width: 20px;
  position: absolute;
  top: 15px;
  right: 36px;
  padding: 0;
  border: none;
  background-color: transparent;
}
.iconClear {
  stroke: #262626;
  stroke-width: 2px;
}
.btnSearch {
  top: 12px;
  right: 12px;
  position: absolute;
  padding: 0;
  border: none;
  background-color: transparent;
}
.iconSearch {
  stroke: #262626;
  fill: none;
  stroke-width: 2px;
}
@media screen and (min-width: 768px) {
  .form {
    margin-bottom: 60px;
  }
  .input {
    padding: 14px 60px 14px 14px;
    font-size: 16px;
    line-height: 20px;
    max-width: 230px;
  }
  .btnSearch {
    top: 15px;
    right: 15px;
  }
}
.inputNotices {
  border: 1px solid #26262626;
  padding: 14px 30px 14px 14px;
  background-color: #ffffff;
  border-radius: 30px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  height: 48px;
  color: #262626;
  width: 265px;
  font-family: Manrope;
}
.inputNotices::placeholder {
  color: #262626;
}
.inputNotices:focus,
.inputNotices:hover {
  border: 1px solid #f6b83d;
}

@media screen and (min-width: 1280px) {
  .inputNotices {
    font-size: 16px;
    line-height: 20px;
  }
}
